@charset "utf-8";
/* CSS Document */
p {
	color:rgba(93,92,97,1.00);
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size:16px;
	line-height: 18px;
	width:600px;
}
h2,ol,ul{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color:#5D5C61;	
}
h1{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color:#5D5C61;
}
body {
	background-image: url("Slike/pozadina.jpg");
}
h3{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color:#557A95
}
a{
	color:#B1A296;
}